@model IEnumerable<MovieHub.Models.UpcomingMovie>

@{
    ViewBag.Title = "Home Page";
}

<main>
    <br/>
    <ul>
        @foreach (var movie in Model)
        {
            <li>Release Date: @movie.ReleaseDate | Name: @movie.MovieName | Director: @movie.Director </li>
        }
    </ul>
</main>
